<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{{artigo.Artigo.sec_titulo}}</h3>
	</div>
	<div class="panel-body">
		<p ng-bind-html="artigo.Artigo.sec_conteudo"></p>
	</div>
</div>
