.page-header
	h3 Menus
.row
	.col-md-12
		.btn-group
			a.btn.btn-default(ng-click="changeToSup()",ng-class="{'btn-default':men_tipo=='v','btn-primary':men_tipo=='h'}") Superior
			a.btn.btn-default(ng-click="changeToInf()",ng-class="{'btn-default':men_tipo=='h','btn-primary':men_tipo=='v'}") Inferior
br
div(ng-include="'/admin/app/Menu/form.html'", ng-if="addEditMenu")
.row(ng-if="!addEditMenu")
	.col-md-4
		.panel.panel-primary
			.panel-heading
				h3.panel-title Primeiro Nível
			.panel-body(ng-if="loading[1]")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="norecords[1]")
				div(ng-include="'/admin/app/common/norecords.html'")
			table.table(ng-if="!loading[1] && !norecords[1] && Menus[1]")
				tr
					th &nbsp;
					th Título
				tr(ng-repeat="item in Menus[1]")
					td.col-md-6
						.btn-group(ng-if="!item.Menu.men_fixo")
							button.btn.btn-default.btn-xs(ng-click="editLevelX(item, 1)",tooltip="Editar")
								i.glyphicon.glyphicon-pencil
							button.btn.btn-default.btn-xs(ng-click="deleteMenu(item, 1)",tooltip="Excluir",ng-class="{disabled:item.Submenu1.length>0}") {{item.Menu.Submenu1.length}}
								i.glyphicon.glyphicon-trash
							button.btn.btn-default.btn-xs(ng-click="goLevel2(item)",tooltip="Segundo Nível")
								i.glyphicon.glyphicon-chevron-right
						| &nbsp;
						.btn-group(ng-if="!selecionaPai1Flag")
							button.btn.btn-default.btn-xs(ng-click="orderMenu(item,1,'up')",ng-class="{disabled:$first}",tooltip="Subir")
									i.glyphicon.glyphicon-chevron-up
							button.btn.btn-default.btn-xs.disabled {{$index+1}}
							button.btn.btn-default.btn-xs(ng-click="orderMenu(item,1,'down')",ng-class="{disabled:$last}",tooltip="Descer")
									i.glyphicon.glyphicon-chevron-down
						.btn-group(ng-if="selecionaPai1Flag && selecionaPai1Id != item.Menu.men_id")
							button.btn.btn-default.btn-xs(ng-click="selecionaPaiDest(item)",tooltip="Selecionar como Pai")
								i.glyphicon.glyphicon-ok
							button.btn.btn-default.btn-xs(ng-click="goLevel2Cancel()",tooltip="Cancelar")
								i.glyphicon.glyphicon-remove
					td 
						a.pointer(ng-click="loadLevelX(item, 2)") {{item.Menu.men_titulo}}
			.panel-footer(ng-if="Menus[1]")
				button.btn.btn-default(ng-click="addLevelX(1)",tooltip="Novo Menu") Novo
				button.btn.btn-primary.pull-right(ng-click="saveOrderMenu(1)") Salvar
	.col-md-4
		.panel.panel-success
			.panel-heading
				h3.panel-title Segundo Nível {{textoNivel[2]}}
			.panel-body(ng-if="loading[2] && !norecords[2]")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="!loading[2] && norecords[2]")
				div(ng-include="'/admin/app/common/norecords.html'")
			.panel-body(ng-if="!Menus[2] && !loading[2] && !norecords[2]")
				div Escolha um menu de Primeiro Nível
			table.table(ng-if="!loading[2] && !norecords[2] && Menus[2]")
				tr
					th &nbsp;
					th Posição
					th Título
				tr(ng-repeat="item in Menus[2]")
					td.col-md-4
						.btn-group
							button.btn.btn-default.btn-xs(ng-click="editLevelX(item, 2)",tooltip="Editar")
								i.glyphicon.glyphicon-pencil
							button.btn.btn-default.btn-xs(ng-click="deleteMenu(item, 2)",tooltip="Excluir",ng-class="{disabled:item.Submenu1.length>0}")
								i.glyphicon.glyphicon-trash
							button.btn.btn-default.btn-xs(ng-click="goLevel1(item)")
								i.glyphicon.glyphicon-chevron-left
							button.btn.btn-default.btn-xs(ng-click="goLevel2(item)",ng-if="item.Submenu1.length==0")
								i.glyphicon.glyphicon-chevron-right
					td.col-md-3
						.btn-group
							button.btn.btn-default.btn-xs(ng-class="{disabled:$first}")
									i.glyphicon.glyphicon-chevron-up
							button.btn.btn-default.btn-xs.disabled {{$index+1}}
							button.btn.btn-default.btn-xs(ng-class="{disabled:$last}")
									i.glyphicon.glyphicon-chevron-down
					td 
						a.pointer(ng-click="loadLevelX(item, 3)") {{item.Menu.men_titulo}}
			.panel-footer(ng-if="Menus[2]")
				button.btn.btn-default(ng-click="addLevelX(2)",tooltip="Novo Menu") Novo
				button.btn.btn-primary.pull-right(ng-click="saveOrderMenu(2)") Salvar	
	.col-md-4
		.panel.panel-warning
			.panel-heading
				h3.panel-title Terceiro Nível {{textoNivel[3]}}
			.panel-body(ng-if="loading[3] && !norecords[3]")
				div(ng-include="'/admin/app/common/loading.html'")
			.panel-body(ng-if="!loading[3] && norecords[3]")
				div(ng-include="'/admin/app/common/norecords.html'")
			.panel-body(ng-if="!Menus[3] && !loading[3] && !norecords[3]")
				div Escolha um menu de Segundo Nível
			table.table(ng-if="!loading[3] && !norecords[3] && Menus[3]")
				tr
					th &nbsp;
					th Posição
					th Título
				tr(ng-repeat="item in Menus[3]")
					td.col-md-3
						.btn-group
							button.btn.btn-default.btn-xs(ng-click="editLevelX(item, 3)",tooltip="Editar")
								i.glyphicon.glyphicon-pencil
							button.btn.btn-default.btn-xs(ng-click="deleteMenu(item, 3)")
								i.glyphicon.glyphicon-trash
							button.btn.btn-default.btn-xs
								i.glyphicon.glyphicon-chevron-left
					td.col-md-3
						.btn-group
							button.btn.btn-default.btn-xs(ng-class="{disabled:$first}")
									i.glyphicon.glyphicon-chevron-up
							button.btn.btn-default.btn-xs.disabled {{$index+1}}
							button.btn.btn-default.btn-xs(ng-class="{disabled:$last}")
									i.glyphicon.glyphicon-chevron-down
					td {{item.Menu.men_titulo}}
			.panel-footer(ng-if="Menus[3]")
				button.btn.btn-default(ng-click="addLevel3()") Novo
				button.btn.btn-primary.pull-right(ng-click="saveOrderMenu(3)") Salvar
