<nav class="navbar navbar-default" ng-controller="menuCtrl">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Fenapaes</a>
		</div>
		
		<ul class="nav navbar-nav pull-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-expanded="false">Temas <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li ng-click="changeTema(tema)" ng-repeat="tema in Temas"><a href="">{{tema.name}}</a></li>
				</ul>
			</li>
		</ul>
	
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul ng-repeat="menu in menus" ng-class="menu.position" class="nav navbar-nav">
				<li ng-repeat="item in menu.items" class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{item.title}} <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a ng-repeat="subitem in item.items" href="{{subitem.route}}">{{subitem.title}}</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
