<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{{noticia.Noticia.not_titulo}}</h3>
	</div>
	<div class="panel-body">
		<p ng-bind-html="noticia.Noticia.not_conteudo"></p>
	</div>
</div>
