	<div class="row">
		<div class="col-md-12">
			<carousel interval="3000">
		      <slide ng-repeat="slide in slides" active="slide.active">
		        <img ng-src="{{slide.image}}" style="margin:auto;">
		      </slide>
		    </carousel>
		</div>
	</div>
	<br>
<div class="row">
<div class="col-md-3">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Banners</h3>
				</div>
				<div class="panel-body">
					Banners
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<span class="panel-title">Vídeos</span>
					<a class="pull-right" href="#/video" data-toggle="tooltip" data-placement="top" title="veja mais 11 vídeos..."><i class="glyphicon glyphicon-plus-sign"></i></a>
				</div>
				<div class="panel-body" style="max-height: 700px; overflow:auto;">
					Videos
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="panel-title">Notícias</span>
			<a class="pull-right" href="#/noticia" data-toggle="tooltip" data-placement="top" title="veja mais..."><i class="glyphicon glyphicon-plus-sign"></i></a>
		</div>
		<div class="panel-body">
			
			<div ng-repeat="item in destaques" class="media col-md-6" style="height: 140px; overflow: hidden;">
				<a class="pull-left" href="#/noticia/{{item.Noticia.not_id}}">
				<img class="media-object img-rounded" src="http://www.apaebrasil.org.br/noticia-destaque.phtml?d={{item.Noticia.not_id}}" alt="...">
				</a>
				<div class="media-body">
					<div class="label label-primary">{{item.Noticia.not_data|date:'dd/MM HH:mm'}}</div>
					<div class="label label-warning pull-right">{{item.Noticia.coc_id}}</div>
					<h4 class="media-heading">
						<a href="#/noticia/{{item.Noticia.not_id}}">{{item.Noticia.not_titulo}}</a>
					</h4>
				</div>
			</div>
			
		</div>
	</div>
</div>
</div>	</div>
